.slider-control-centerleft button,
.slider-control-centerright button {
    background: none !important;
}

.slider-control-centerleft:hover .MuiSvgIcon-root,
.slider-control-centerright:hover .MuiSvgIcon-root {
    opacity: 1;
}

.offer-dots .paging-dot {
    transform: scale(3);
}