.slider-control-centerleft,
.slider-control-centerright {
    height: 100%;
}

.slider-control-centerleft:hover .MuiSvgIcon-root,
.slider-control-centerright:hover .MuiSvgIcon-root {
    opacity: 1;
}

.offer-dots .paging-dot {
    transform: scale(3);
}